@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

html{
    font-size: 55%;
}

p{
    font-size: 15px;
}

html, body, #app{
    width: 100%;
    height: 100%;
    background-color: #f9f9f9;
    color: white;
}

header{
    top: 0;
    background-color: transparent;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    z-index: 100;
    margin-top: 20px;
    position: sticky;
    width: 100%;
    padding: 1rem 9%;
    filter: drop-shadow(10px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo{
    color: gray;
    font-size: 3rem;
    font-weight: 800;
    cursor: pointer;
    transition: 0.5s ease;
}

.logo:hover{
    transform: scale(1.1);
}

nav a{
    font-size: 1.8rem;
    color: white;
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}

nav a:hover,
nav a.active{
    color: lightgreen;
    border-bottom: 3px solid gray;
}




section{
    min-height: 100vh;
    padding: 50px 3% 80px;
}

.home{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    background-color: #1a1a1a;
}

.home .home-content h1{
    font-size: 5rem;
    font-weight: 700;
    line-height: 1.3;
}

span{
    color: gray;
}

.home-content h3{
    font-size: 3.5rem;
    margin-bottom: 1rem;
    font-weight: 700;
}

.home-img{
    margin-top:20px;
    border-radius: 50%;
}

.home-img img{
    position: relative;
    width: 160px;
    border-radius: 50%;
    border: 8px solid rgba(101, 168, 255, 0.6);
    box-shadow: 0 0 25px solid;
    cursor: pointer;
    transition: 0.2s linear;
}

.home-img img:hover{
    transform: scale(1.13) rotate(3deg);
}

.social-icons {
    margin: 20px auto 0;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    justify-content: center;
    width: 100%;
}

.social-icons a {
    flex-shrink: 1;
    padding: 0.5rem 0.8rem;
    font-size: 1.2rem;
    white-space: nowrap;
    max-width: 100%;
    text-overflow: ellipsis;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    padding: 0.8rem 1rem;
    background-color: transparent;
    border: 2px solid gray;
    font-weight: bold;
    border-radius: 8px;
    transition: 0.3s ease-in-out;
    color: lightgreen;
    text-decoration: none;
}

.social-icons a i {
    font-size: 1.8rem;
}

.social-icons a:hover {
    background-color: lightgreen;
    color: black;
    transform: scale(1.05);
    box-shadow: 0 0 10px lightgreen;
}

.typing-text{
    font-size: 34px;
    font-weight: 600;
    min-width: 200px;
}

.typing-text span{
    position: relative;
}

.typing-text span::before{
    content: "FullStack Software Developer";
    color: lightgreen;
}


@media (max-width:768px){
    .home{
        flex-direction: column;
        margin: 4rem 4rem;
    }
    section{
        padding: 30px 4% 40px;
    }

    .home .home-content h3{
        font-size: 3.5rem;
    }

    .home-content h1{
        font-size: 2rem;
    }

    .home-img img{
        width: 55vw;
        margin-top: 4rem;
    }
}